ul.nav.navbar-nav
	li.active.start(data-name='start')
		a(href='#/')
			span.glyphicon.glyphicon-home  Start
	li.accounts(data-name='accounts')
		a(href='#accounts')
			span.glyphicon.glyphicon-usd  Accounts
	li.loan(data-name='loan')
		a(href='#loan')
			span.glyphicon.glyphicon-briefcase  Loan

